*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior:smooth;
}



.navbar {
    width: 100%;
    position:fixed;
    z-index:0;
    background-color: blue;
}

.navbar a {
    text-align: center;
    padding: 20px;
    background-color: black;
    font-family: sans-serif;
    font-size: large;
    color: white;
    width: 33.33%;
    float: left;
}

.navbar a:hover{
    color: red;
}

#proj-list {
    padding: 30px 30px; 
    display:flex;
}

.button {
    color: black;
    border: 2px solid black;
    text-align: center;
    text-decoration:none;
    padding: 100px 100px;
    margin: 5px;
    display: inline-block;
    font-size:xx-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a.button:hover {
    background-color: lightgray;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.content {
    text-align:center;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.title {
    font-family:impact;
    font-size: 50px;
    padding:30px 0;
}

.subtitle {
    font-family:impact;
    font-size:30px;
}

.paragraph {
    text-align :left;
    font-family:sans-serif;
    font-size: x-large;
    padding: 10px 50px;
    text-indent: 30px;
}

.project-name {
    font-family:impact;
    font-size: 50px;
    padding:30px 0;
}

.column {
    float: left;
    width: 33%;
    padding: 10px;
}

.collapsible {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 35px;
    width: 100%;
}

.aboutContent {
    width: 100%;
    display:none;
    overflow: scroll;
    background-color:white
}

@media screen and (max-width: 880px) {
    .button {
        float: none;
        display:inline-block;
        padding: 11.5% 11.5%;
    }
    .column {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .project-name {
        font-size: 28px;
    }
    .paragraph {
        font-size: medium;
    }
}
