*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior:smooth;
}



.navbar {
    width: 100%;
    background-color: blue;
}

.navbar a {
    text-align: center;
    padding: 20px;
    background-color: black;
    font-family: sans-serif;
    font-size: large;
    color: white;
    width: 33.33%;
    float: left;
}

.navbar a:hover{
    color: red;
}



.button {
    color: black;
    border: 2px solid black;
    text-align: center;
    text-decoration:none;
    padding: 100px 100px;
    margin: 5px;
    display: inline-block;
    font-size:xx-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a.button:hover {
    background-color: lightgray;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

@media screen and (max-width: 1080px) {
    .button {
        float: none;
        display:inline-block;
        padding: 15% 15%;
    }
}

.content {
    text-align:center;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.title {
    font-family:impact;
    font-size: 50px;
    padding:30px;
}

.subtitle {
    font-family:impact;
    font-size:30px;
}

.paragraph {
    text-align :left;
    font-family:sans-serif;
    font-size: larger;
    padding: 10px 50px;
    text-indent: 30px;
}

